.onboarding-card {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
}
.card-item {
  padding: 20px;
  justify-content: space-between;
}
.divider {
  border-bottom: 1px solid #ccc;
}
.card-item {
    display: flex;
}
.review-payment-content {
    padding: 20px;
    margin-bottom: 10px;
}
.whatsapp-onboarding-button {
    margin-top: 30px;
    margin-left: auto;
    position: relative;
    top: 50%;
}
.card-content {
    padding-right: 40px;
}
.event-config {
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.event-config-manage-button {
    padding: 20px;
    margin-left: auto;
}
.manage-event-template-block {
    border: 1px solid #c4c3c3;
    margin-bottom: 20px;
}
.manage-event-template-header {
    position: relative;
    display: block;
    padding: 20px;
    font-size: medium;
}
.manage-event-template-footer {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.manage-event-button {
    margin-left: 20px;
}
